<!DOCTYPE html>
<!--
Copyright (c) 2013, the Dart project authors.  Please see the AUTHORS file
for details. All rights reserved. Use of this source code is governed by a
BSD-style license that can be found in the LICENSE file.
-->
<polymer-element name="task-form-element" attributes="task">
  <template>
    <style>
      .field {
        margin-bottom: 1.5em;
      }

      .field textarea, select {
        width: 85%;
        padding: .5em;
      }

      .field .chars-left {
        margin-left: 1%;
        width: 9%;
        text-align: left;
      }

      .delete-task {
        float:right;
        margin-right: 5px;
      }
    </style>

    <form on-submit="{{createOrUpdateTask}}">
      <!-- Can't delete a form for creating a new task. -->
      <template if="{{task.saved}}">
        <div on-click="{{deleteTask}}"
            class="delete-task glyphicon glyphicon-remove"></div>
      </template>
     
      <div class="field">
        <textarea class="form-control" placeholder="Add title here"
            value="{{task.title}}" on-keyup="{{validateTitle}}"></textarea>
        <span class="chars-left">{{maxTitleLength - task.title.length}}</span>

        <div class="error" hidden?="{{titleErrorMessage.isEmpty}}">
          {{titleErrorMessage}}
        </div>
      </div>

      <div class="field">
        <textarea rows="5" class="form-control"
            placeholder="Add description here" value="{{task.description}}"
            on-keyup="{{validateDescription}}"></textarea>
        <span class="chars-left">
          {{maxDescriptionLength - task.description.length}}
        </span>

        <div class="error" hidden?="{{descriptionErrorMessage.isEmpty}}">
          {{descriptionErrorMessage}}
        </div>
      </div>
           
      <div class="field">
        <select class="form-control" selectedIndex="{{statusSelectedIndex}}">
          <option template repeat="{{taskStatusOptions}}">{{}}</option>
        </select>
      </div>

      <div class="field">
        <button type="submit" class="btn btn-default">
          {{submitLabel}}
        </button>&nbsp;
        <button type="button" on-click="{{dispatchCancelForm}}"
            class="btn btn-link">Cancel
        </button>
      </div>
    </form>
  </template>
  <script type="application/dart" src="task_form_element.dart"></script>
</polymer-element>