<!DOCTYPE html>
<!--
Copyright (c) 2013, the Dart project authors.  Please see the AUTHORS file
for details. All rights reserved. Use of this source code is governed by a
BSD-style license that can be found in the LICENSE file.
-->
<link rel="import" href="task_element.html">
<link rel="import" href="task_form_element.html">
<polymer-element name="tracker-app">
  <template>
    <style>
      .error {
        color: red;
      }

      .success {
        color: green;
      }

      #new-task-button, #search-input {
         margin-top: 20px;
      }

      .moved {
        background-color: orange;
        color: white;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>IWIK Topic Tracker</h1>
        </div>

        <template if="{{!usingForm}}">
          <div class="col-md-2">
            <button id="new-task-button" on-click="{{showEmptyForm}}"
                type="button" class="btn btn-primary">
              Add topic
            </button>
          </div>
          <div class="col-md-2">
             <input type="text" id="search-input" class="form-control"
                on-keyup="{{search}}" value="{{searchParam}}" placeholder="Search">
          </div>
        </template>
      </div>

      <div class="row">
        <div class="list-container col-md-4">
          <template if="{{usingForm}}">
            <div>
              <div class="element-container">
                <task-form-element task="{{newTask}}"
                    on-notneeded="{{showEmptyForm}}"
                    on-cancelform="{{toggleFormDisplay}}">
                </task-form-element>
              </div>
            </div>
          </template>

          <h2>Suggestions</h2>
          <ul class="list-unstyled">
            <template repeat="{{task in current}}">
              <li is="task-element" task="{{task}}"></li>
            </template>
          </ul>
        </div>

        <div class="list-container col-md-4">
          <h2>Next IWIK</h2>
          <ul class="list-unstyled">
            <template repeat="{{task in pending}}">
              <li is="task-element" task="{{task}}"></li>
            </template>
          </ul>
        </div>

        <div class="list-container col-md-4">
          <h2>Completed</h2>
          <ul class="list-unstyled">
            <template repeat="{{task in completed}}">
              <li is="task-element" task="{{task}}"></li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </template>
  <script type="application/dart" src="tracker_app.dart"></script>
</polymer-element>